* {
    border: 2px solid black;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

/* Sections */
.header {
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    height: 50px;
    color: #f9faf8;
    display: flex;
}

.awesome {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.awesome .image {
    background-color: grey;
    display: flex;
    padding: 100px;
    margin: 60px 0px;

}

.awesome .left {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    align-items: start;
}


.random {
    background-color: white;
}

.quote {
    background-color: #e5e7eb;
}

.sign-up {
    background-color: white;
}

.footer {
    background-color: #1f2937;
}

/* Text */
h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;

}

.awesome p, .header li {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
    padding: 0px;
}

button, .container {
    background-color: #3882f6;
    color: white;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

h2 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;  
}

li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    padding: 0px;
    margin: 0px;
  }